<!-- filepath: /c:/Users/bsata/source/repos/BespokeBike.SalesTraker.Web/src/app/Components/customer/customer-update/customer-update.component.html -->
<h1 style="margin-top: 5px;" mat-dialog-title>{{data.customer.customerId ? 'Edit' : 'Add'}} Customer</h1>
<div mat-dialog-content>
  <form [formGroup]="customerForm">
    <mat-form-field>
      <mat-label>First Name</mat-label>
      <input matInput formControlName="firstName">
      <mat-error *ngIf="customerForm.get('firstName')?.hasError('required')">
        First Name is required
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Last Name</mat-label>
      <input matInput formControlName="lastName">
      <mat-error *ngIf="customerForm.get('lastName')?.hasError('required')">
        Last Name is required
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Address</mat-label>
      <input matInput formControlName="address">
      <mat-error *ngIf="customerForm.get('address')?.hasError('required')">
        Address is required
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Phone</mat-label>
      <input matInput formControlName="phone">
      <mat-error *ngIf="customerForm.get('phone')?.hasError('required')">
        Phone is required
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput formControlName="email">
      <mat-error *ngIf="customerForm.get('email')?.hasError('required')">
        Email is required
      </mat-error>
      <mat-error *ngIf="customerForm.get('email')?.hasError('email')">
        Invalid email format
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Start Date</mat-label>
      <input matInput formControlName="startDate" type="date">
      <mat-error *ngIf="customerForm.get('startDate')?.hasError('required')">
        Start Date is required
      </mat-error>
    </mat-form-field>
    <mat-checkbox formControlName="isActive">Active</mat-checkbox>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button (click)="onSaveClick()" [disabled]="customerForm.invalid">Save</button>
</div>
