<h1 mat-dialog-title>{{data.employee.employeeId ? 'Edit' : 'Add'}} Employee</h1>
<div mat-dialog-content>
  <form [formGroup]="employeeForm">
    <mat-form-field>
      <mat-label>First Name</mat-label>
      <input matInput formControlName="firstName">
      <mat-error *ngIf="employeeForm.get('firstName')?.hasError('required')">
        First Name is required
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Last Name</mat-label>
      <input matInput formControlName="lastName">
      <mat-error *ngIf="employeeForm.get('lastName')?.hasError('required')">
        Last Name is required
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Address</mat-label>
      <input matInput formControlName="address">
      <mat-error *ngIf="employeeForm.get('address')?.hasError('required')">
        Address is required
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Phone</mat-label>
      <input matInput formControlName="phone">
      <mat-error *ngIf="employeeForm.get('phone')?.hasError('required')">
        Phone is required
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Start Date</mat-label>
      <input matInput formControlName="startDate" type="date">
      <mat-error *ngIf="employeeForm.get('startDate')?.hasError('required')">
        Start Date is required
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Termination Date</mat-label>
      <input matInput formControlName="terminationDate" type="date">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Manager</mat-label>
      <input matInput formControlName="manager">
    </mat-form-field>
    <mat-checkbox formControlName="isActive">Active</mat-checkbox>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button (click)="onSaveClick()" [disabled]="employeeForm.invalid">Save</button>
</div>
